@model TimeSheet.Models.ForgotPasswordViewModel

<h2>Forgot Password</h2>

<p>Please enter your Employee ID to reset your password.</p>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.EmployeeId, "Employee ID")
        @Html.TextBoxFor(m => m.EmployeeId, new { @class = "form-control", placeholder = "Enter your Employee ID" })
        @Html.ValidationMessageFor(m => m.EmployeeId, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}
